<div class="flex justify-between h-screen">
  <!-- Left navigation panel -->
  <div class="w-1/6 text-black p-4" style="border-right: 1px solid black;">
    <h2 class="font-bold mb-4">Workspace</h2>
    <ul style="cursor: pointer;">
      <li *ngFor="let workspace of workspaces" style="padding-bottom: 8px;" (click)="selectedWorkspace(workspace)">
        {{ workspace.name }}
      </li>
      <li (click)="openDialog()" style="cursor: pointer;">Create Workspace</li>
    </ul>
  </div>

  <!-- Main content -->
  <div class="w-7/10 p-4">
    <div class="flex justify-center items-center">
      <ng-container *ngIf="workspaces.length === 0">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg  mt-40 "
          (click)="openDialog()">Create
          Workspace</button>

      </ng-container>
    </div>
    <ng-container *ngIf="workspaces.length > 0">
      
      
      <div *ngIf="projects.length > 0" class="flex justify-left">
        <div class="mt-4">
          <h2 class="font-bold mb-4">{{selectedWSName}}</h2>
          <div class="grid grid-cols-5 gap-4">
            <div *ngFor="let project of projects; let i = index">
              <div class="project-{{ i % 5 }} rounded-lg shadow-md p-12">
                <h3 class="font-bold">{{ project.name }}</h3>
                <p>{{ project.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div >
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg  mt-10 "
        (click)="openProjDialog()">Create Project</button>

      </div>
    </ng-container>
  </div>

  <!-- Right navigation panel -->
  <div class="w-1/6  text-black p-4" style="border-left: 1px solid black;">
    <h2 class="font-bold mb-4">Workspace Configuration</h2>
    <ul>
      <li style="padding: 8px; border-radius: 5px;" onmouseover="this.style.backgroundColor='lightgrey'"
        onmouseout="this.style.backgroundColor=''" onclick="this.style.backgroundColor='lightgrey'"><a href="#">Access
          Control</a></li>
      <li style="padding: 8px; border-radius: 5px;" onmouseover="this.style.backgroundColor='lightgrey'"
        onmouseout="this.style.backgroundColor=''" onclick="this.style.backgroundColor='lightgrey'"><a href="#">Secret
          Keys</a>
      </li>
      <li style="padding: 8px; border-radius: 5px;" onmouseover="this.style.backgroundColor='lightgrey'"
        onmouseout="this.style.backgroundColor=''" onclick="this.style.backgroundColor='lightgrey'"><a
          href="#">Environment
          Variables</a></li>
    </ul>
  </div>