.project-1 {
  background: linear-gradient(to right, #c5d9f2, #f2f5f9);
}

.project-2 {
  background: linear-gradient(to right, #f2f4f5, #e8edf0);
}

.project-3 {
  background: linear-gradient(to right, #e8edf0, #dce2e6);
}

.project-4 {
  background: linear-gradient(to right, #dce2e6, #cfd6dc);
}

.project-0 {
  background: linear-gradient(to right, #c5d8e9, #edf9f4);
}