.project-1 {
    background: linear-gradient(to right, #91bae3, #eeefe9);
  }
  
  .project-2 {
    background: linear-gradient(to right, #e9ecef, #dee2e6);
  }
  
  .project-3 {
    background: linear-gradient(to right, #dee2e6, #ced4da);
  }
  
  .project-4 {
    background: linear-gradient(to right, #ced4da, #adb5bd);
  }
  
  .project-0 {
    background: linear-gradient(to right, #95b8db, #bda8c4);
  }